$primary: #0092ff;
$secondary: #6232d6;
$black: #000000;
$white: #fff;
$blue: #003399;
$blue-2: #3590d5;
$blue-3: #2a2a39;
$violet: #8d6ae1;
$gray: #b3b3b3;

$borderRadius: 2px;

$font-primary: "HelveticaNowDisplay", sans-serif;
